.paragraph-text {
    /* style the text input fr0m the top middle of the document, to center aligned with the paige with flexbox */
    padding-top: 100px;
    /* padding-left: 100px; */
    display: flex;
    align-items: center;
    align-items: c;
    align-content: space-around;
    flex-direction: column;
  }
  
  #outlined-basic {
    /* padding-left: 150px;
    padding-top: 100px; */
  }
  
  .box-styling {
    display: flex;
    border: 1px solid black;
  }
  
  .submit-one {
    border: 1px solid black !important;
  }