.paragraph-text {
    /* style the text input fr0m the top middle of the document, to center aligned with the paige with flexbox */
    padding-top: 100px;
    /* padding-left: 100px; */
    display: flex;
    align-items: center;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
  }
  
  #outlined-basic {
    /* padding-left: 150px;
    padding-top: 100px; */
  }
  
  .box-styling {
    display: flex;
    border: 1px solid black;
  }
  
  .submit-one {
    border: 1px solid black !important;
  }

  .parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 50%;
    font-size: 28px;
  }

  #root > div > div.MuiBox-root.css-i9gxme > header > div > div > div {
    background-color: orangered !important;
    color: white;
    margin: 5px;
    /* border: 2px solid black; */
  }

  #mui-component-select-agent {
    background-color: orangered !important;
    color: white;
    margin: 5px;
    padding-left: 15px;
    /* border: 2px solid black; */
  }

  body > div.MuiBox-root.css-i9gxme > header > div > div > div {
    font-size: 20px;
    background-color: orangered !important;
    margin-left: 5px;
    margin-bottom: 7px;
  }